
@import url('normalize.css');

html,body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    color: #222;
    overflow: hidden;
}
